<div
  class="flex justify-between items-center bg-white px-8 py-4 shadow-md h-[64px]"
>
  <div class="text-xl font-semibold truncate max-w-[60%]">
    <h2>Pagina</h2>
    <!-- Cambiar por el nombre de la pagina actual -->
  </div>

  <div class="flex items-center gap-3">
    <img
      src="icons/usuario.png"
      alt="icono usuario"
      class="w-9 h-9 rounded-full object-cover"
    />
    <secondary-link label="name" routerLink="" />
    <!-- Cambiar por el nombre del usuario y la ruta de perfil, dependiendo de si estamos admin o usuarios -->
  </div>
</div>
