<div class="flex flex-col justify-between w-full p-4 bg-[#D1D0D0] shadow-xl h-screen">
  <!-- Primer bloque (Logo + navegación) -->
  <div>
    <!-- Logo -->
    <div class="mb-4 pb-4">
      <a [routerLink]="['/' + basePath + '/inicio']" class="block">
        <img
          [src]="isSmallScreen() ? 'lente.png' : 'img/logo.png'"
          [ngClass]="isSmallScreen() ? 'w-[50%]' : 'w-[80%]'"
          class="mx-auto cursor-pointer transition-transform duration-300 hover:scale-105"
          alt="Logo"
        />
      </a>
    </div>

    <!-- Navegación -->
    <nav class="flex flex-col gap-2">
      @for (route of routes; track route.path) {
        <div
          class="flex items-center gap-3 p-4 rounded-md transition-colors duration-200 hover:bg-[#f0f0f0] group"
          [routerLink]="route.path"
          routerLinkActive="bg-[#f0f0f0]"
        >
          <!-- Ícono -->
          <img
            src="icons/{{ route.data?.['icon'] }}.png"
            alt="icono"
            class="w-5 h-5"
          />
          <!-- Título (oculto si < 1180px) -->
          <span
            class="text-sm font-bold text-[#333] group-hover:text-[#000] transition-colors duration-200 max-[1180px]:hidden"
          >
            {{ route.title }}
          </span>
        </div>
      }
    </nav>
  </div>

  <!-- Segundo bloque (configuración y logout) -->
  <div class="flex flex-col gap-2 border-t border-[#bbb] pt-4 mt-4">
    <!-- Configuración -->
    <div
      class="flex items-center gap-3 p-3 hover:bg-blue-200 rounded-md transition-colors duration-200 group"
      [routerLink]="['/' + basePath + '/configuracion']"
      routerLinkActive="bg-[#d9ecff]"
    >
      <img src="icons/configuracion.png" alt="config" class="w-5 h-5" />
      <span
        class="text-sm font-semibold text-[#4294FF] group-hover:text-[#2f79d1] max-[1180px]:hidden"
      >
        Configuración
      </span>
    </div>

    <!-- Logout -->
    <div
      class="flex items-center gap-3 p-3 bg-red-100 hover:bg-red-200 rounded-md transition-colors duration-200 group"
      (click)="logout()"
    >
      <img src="icons/logout.png" alt="logout" class="w-5 h-5" />
      <span
        class="text-sm font-semibold text-red-500 group-hover:text-red-600 max-[1180px]:hidden"
      >
        Cerrar sesión
      </span>
    </div>
  </div>
</div>