<div
  class="flex flex-col justify-between w-full p-4 bg-[#D1D0D0] shadow-xl h-screen min-w-[60px]"
>
  <!-- LOGO -->
  <div>
    <div class="mb-6 pb-2">
      <a [routerLink]="['/' + basePath + '/inicio']" class="block">
        <img
          [src]="isSmallScreen() ? 'lente.png' : 'img/logo.png'"
          [ngClass]="isSmallScreen() ? 'w-[50%]' : 'w-[80%]'"
          class="mx-auto cursor-pointer transition-transform duration-300 hover:scale-105"
          alt="Logo"
        />
      </a>
    </div>

    <!-- NAVIGATION -->
    <nav class="flex flex-col gap-2">
      @for (route of routes; track route.path) {
      <a
        [routerLink]="route.path"
        routerLinkActive="bg-[#f0f0f0]"
        class="flex items-center p-3 rounded-md transition-colors duration-200 hover:bg-[#f0f0f0] group xl:justify-start justify-center"
      >
        <!-- Ícono -->
        <img
          src="icons/{{ route.data?.['icon'] }}.png"
          alt="icono"
          class="w-5 h-5 min-w-[20px] aspect-square object-contain"
        />

        <!-- Título -->
        <span
          class="text-sm font-bold text-[#333] group-hover:text-[#000] transition-colors duration-200 hidden xl:inline ml-3"
        >
          {{ route.title }}
        </span>
      </a>
      }
    </nav>
  </div>

  <!-- CONFIGURACIÓN Y LOGOUT -->
  <div class="flex flex-col gap-2 border-t border-[#bbb] pt-4 mt-6">
    <!-- Configuración -->
    <a
      [routerLink]="['/' + basePath + '/configuracion']"
      routerLinkActive="bg-[#d9ecff]"
      class="flex items-center p-3 rounded-md transition-colors duration-200 hover:bg-blue-200 group xl:justify-start justify-center"
    >
      <img
        src="icons/configuracion.png"
        alt="config"
        class="w-5 h-5 min-w-[20px] aspect-square object-contain"
      />
      <span
        class="text-sm font-semibold text-[#4294FF] group-hover:text-[#2f79d1] hidden xl:inline ml-3"
      >
        Configuración
      </span>
    </a>

    <!-- Logout -->
    <button
      (click)="logout()"
      class="flex items-center p-3 bg-red-100 hover:bg-red-200 rounded-md transition-colors duration-200 group xl:justify-start justify-center w-full text-left"
    >
      <img
        src="icons/logout.png"
        alt="logout"
        class="w-5 h-5 min-w-[20px] aspect-square object-contain"
      />
      <span
        class="text-sm font-semibold text-red-500 group-hover:text-red-600 hidden xl:inline ml-3"
      >
        Cerrar sesión
      </span>
    </button>
  </div>
</div>
