<div
  class="flex items-center justify-between px-[30px] py-[20px] w-full bg-transparent relative shadow"
>
  <!-- Logo -->
  <div class="flex justify-start w-[20%]">
    <img
      src="img/logo.png"
      routerLink="home"
      alt="Logo"
      class="h-auto w-full object-contain max-w-[150px] md:w-[150px] lg:w-[200px] xl:w-[250px] 2xl:w-[300px]"
    />
  </div>

  <!-- Enlaces de navegación -->
  <div class="flex justify-center w-[60%] hidden md:flex">
    <!-- Oculto en pantallas menores a 720px -->
    <ul class="flex justify-center items-center gap-[45px] list-none">
      @for (route of navRoutes; track route.path) {
      <li class="font-poppins font-bold">
        <a
          [routerLink]="route.path"
          routerLinkActive="bg-[#898787] text-white py-2 px-5 rounded-full"
          class="text-black no-underline"
        >
          {{ route.title }}
        </a>
      </li>
      }
    </ul>
  </div>

  <!-- Botones de login/registro -->
  <div class="flex items-center justify-end w-[20%] gap-[20px]">
    <secondary-link
      label="Iniciar Sesión"
      routerLink="auth/login"
      class="flex items-center justify-center"
    />
    <primary-link
      label="Registrase"
      routerLink="auth/register"
      class="flex items-center justify-center"
    />
  </div>
</div>